<div class="top-0 z-50 w-full text-white bg-primary-900 border-b-2 border-primary-700 md:sticky shadow-lg">
  <div x-data="{ open: false }"
    class="flex flex-col max-w-full px-4 mx-auto md:items-center md:justify-between md:flex-row md:px-6 lg:px-8">
    <div class="flex flex-row items-center justify-between p-4">
      <a href={{ relLangURL "/" }} class="flex transition duration-500 ease-in-out group">
        <div class="hanko-badge w-10 h-10 text-xs bg-shu">
          <img src="/favicon/favicon.svg" class="transition-opacity h-full w-full p-1 group-hover:opacity-90"
            alt="{{ .Site.Title }} Logo" />
        </div>
        <div
          class="mt-1 ml-3 text-xl font-serif font-bold tracking-tight text-white transition-colors group-hover:text-neutral-100">
          {{ .Site.Title }}</div>
      </a>
      <button class="rounded-lg md:hidden focus:outline-none focus:shadow-outline" @click="open = !open"
        role="navigation" aria-expanded="false" aria-label="Main" aria-controls="menuItems">
        <svg fill="currentColor" viewBox="0 0 20 20" class="w-6 h-6">
          <path x-show="!open" fill-rule="evenodd"
            d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM9 15a1 1 0 011-1h6a1 1 0 110 2h-6a1 1 0 01-1-1z"
            clip-rule="evenodd"></path>
          <path x-show="open" fill-rule="evenodd"
            d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
            clip-rule="evenodd"></path>
        </svg>
      </button>
    </div>
    <nav :class="{'flex': open, 'hidden': !open}"
      class="flex-col flex-grow hidden pb-4 md:pb-0 md:flex md:justify-end md:flex-row">

      <div
        class="flex flex-row items-center w-full px-4 py-2 mt-2 text-sm font-medium text-left bg-transparent rounded-lg md:w-auto md:inline md:mt-0 md:ml-4 hover:text-white focus:text-white hover:bg-primary-600 focus:bg-primary-600 focus:outline-none focus:shadow-outline transition-colors duration-200">

        <a href="https://sealf.ie/">
          {{ i18n "product" }}
        </a>

      </div>

      <div @click.away="open = false" class="relative" x-data="{ open: false }">
        <button @click="open = !open"
          class="flex flex-row items-center w-full px-4 py-2 mt-2 text-sm font-semibold text-white text-left bg-transparent rounded-lg md:w-auto md:inline md:mt-0 md:ml-4 hover:text-white focus:text-white hover:bg-primary-600 focus:bg-primary-600 focus:outline-none focus:shadow-outline transition-colors duration-200">
          <span>Articles</span>
          <svg fill="currentColor" viewBox="0 0 20 20" :class="{'rotate-180': open, 'rotate-0': !open}"
            class="inline w-4 h-4 mt-1 ml-1 transition-transform duration-200 transform md:-mt-1">
            <path fill-rule="evenodd"
              d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
              clip-rule="evenodd"></path>
          </svg>
        </button>
        <div x-show="open" x-transition:enter="transition ease-out duration-100"
          x-transition:enter-start="transform opacity-0 scale-95"
          x-transition:enter-end="transform opacity-100 scale-100" x-transition:leave="transition ease-in duration-75"
          x-transition:leave-start="transform opacity-100 scale-100"
          x-transition:leave-end="transform opacity-0 scale-95"
          class="absolute right-0 z-30 w-full mt-2 origin-top-right rounded-md shadow-lg ">
          <div class="px-2 py-2 text-white bg-primary-900 rounded-md shadow">
            <a class="block px-4 py-2 mt-2 text-sm font-semibold bg-transparent rounded-lg md:mt-0 hover:text-white focus:text-white hover:bg-primary-600 focus:bg-primary-600 focus:outline-none focus:shadow-outline"
              href={{ relLangURL "/categories/news/" }}>{{ i18n "news" }}</a>
            <a class="block px-4 py-2 mt-2 text-sm font-semibold bg-transparent rounded-lg md:mt-0 hover:text-white focus:text-white hover:bg-primary-600 focus:bg-slate-700 focus:outline-none focus:shadow-outline"
              href={{ relLangURL "/categories/blog/" }}>Blog</a>
          </div>
        </div>
      </div>

      <div @click.away="open = false" class="relative" x-data="{ open: false }">
        <button @click="open = !open"
          class="flex flex-row items-center w-full px-4 py-2 mt-2 text-sm font-semibold text-white text-left bg-transparent rounded-lg md:w-auto md:inline md:mt-0 md:ml-4 hover:text-white focus:text-white hover:bg-primary-600 focus:bg-primary-600 focus:outline-none focus:shadow-outline transition-colors duration-200">
          <span>{{ i18n "languages" }}</span>
          <svg fill="currentColor" viewBox="0 0 20 20" :class="{'rotate-180': open, 'rotate-0': !open}"
            class="inline w-4 h-4 mt-1 ml-1 transition-transform duration-200 transform md:-mt-1">
            <path fill-rule="evenodd"
              d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
              clip-rule="evenodd"></path>
          </svg>
        </button>
        <div x-show="open" x-transition:enter="transition ease-out duration-100"
          x-transition:enter-start="transform opacity-0 scale-95"
          x-transition:enter-end="transform opacity-100 scale-100" x-transition:leave="transition ease-in duration-75"
          x-transition:leave-start="transform opacity-100 scale-100"
          x-transition:leave-end="transform opacity-0 scale-95"
          class="absolute right-0 z-30 w-full mt-2 origin-top-right">
          <div class="px-2 pt-2 pb-4  bg-primary-900 rounded-md shadow-lg text-white">
            <div class="grid grid-cols-1 gap-1">
              <a class="flex items-start p-2 bg-transparent rounded-lg group row hover:text-white focus:text-white hover:bg-primary-600 focus:bg-slate-700 focus:outline-none focus:shadow-outline"
                href="/en">
                <div class="ml-3">
                  <svg xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
                    xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#" xmlns="http://www.w3.org/2000/svg"
                    xmlns:cc="http://web.resource.org/cc/" xmlns:dc="http://purl.org/dc/elements/1.1/"
                    xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
                    xmlns:svg="http://www.w3.org/2000/svg" xmlns:ns1="http://sozi.baierouge.fr"
                    xmlns:xlink="http://www.w3.org/1999/xlink" id="svg6800" sodipodi:modified="true"
                    sodipodi:docname="flag_us.svg" viewBox="0 0 380 200" sodipodi:version="0.32" version="1.0"
                    inkscape:output_extension="org.inkscape.output.svg.inkscape" inkscape:version="0.45pre1"
                    sodipodi:docbase="F:\langs\image">
                    <sodipodi:namedview id="base" inkscape:showpageshadow="false" inkscape:zoom="3.1473684"
                      height="200px" borderopacity="1.0" inkscape:current-layer="layer6" inkscape:cx="190"
                      inkscape:cy="100" borderlayer="false" width="380px" inkscape:document-units="px"
                      bordercolor="#666666" inkscape:window-x="-4" guidetolerance="10" objecttolerance="10"
                      inkscape:window-y="-4" inkscape:window-width="1280" inkscape:pageopacity="0.0"
                      inkscape:pageshadow="2" pagecolor="#ffffff" gridtolerance="10000" inkscape:window-height="1005"
                      showborder="false" />
                    <g id="layer1" inkscape:label="bg_border" inkscape:groupmode="layer">
                      <rect id="rect8764" style="stroke:#000000;fill:none" height="199" width="379" y="1" x="0" />
                    </g>
                    <g id="layer4" inkscape:label="stripes" inkscape:groupmode="layer">
                      <rect id="rect8767" style="fill-rule:evenodd;fill:#bf0a30" height="16" width="379" y="184"
                        x="0" />
                      <rect id="rect8769" style="fill-rule:evenodd;fill:#ffffff" height="16" width="379" y="168"
                        x="0" />
                      <rect id="rect8771" style="fill-rule:evenodd;fill:#bf0a30" height="16" width="379" y="152"
                        x="0" />
                      <rect id="rect8773" style="fill-rule:evenodd;fill:#ffffff" height="16" width="379" y="136"
                        x="0" />
                      <rect id="rect8775" style="fill-rule:evenodd;fill:#bf0a30" height="15" width="379" y="121"
                        x="0" />
                      <rect id="rect8777" style="fill-rule:evenodd;fill:#ffffff" height="15" width="379" y="106"
                        x="0" />
                      <rect id="rect8779" style="fill-rule:evenodd;fill:#bf0a30" height="15" width="379" y="91" x="0" />
                      <rect id="rect8781" style="fill-rule:evenodd;fill:#ffffff" height="15" width="379" y="76" x="0" />
                      <rect id="rect8783" style="fill-rule:evenodd;fill:#bf0a30" height="15" width="379" y="61" x="0" />
                      <rect id="rect8785" style="fill-rule:evenodd;fill:#ffffff" height="15" width="379" y="46" x="0" />
                      <rect id="rect8787" style="fill-rule:evenodd;fill:#bf0a30" height="15" width="379" y="31" x="0" />
                      <rect id="rect8791" style="fill-rule:evenodd;fill:#ffffff" height="15" width="379" y="16" x="0" />
                      <rect id="rect8793" style="fill-rule:evenodd;fill:#bf0a30" height="15" width="379" y="1" x="0" />
                    </g>
                    <g id="layer5" inkscape:label="field" inkscape:groupmode="layer">
                      <rect id="rect8796" style="fill-rule:evenodd;fill:#002868" height="105" width="152" y="1" x="0" />
                    </g>
                    <g id="layer6" inkscape:label="stars" inkscape:groupmode="layer">
                      <path id="path8825" style="fill-rule:evenodd;fill:#ffffff" sodipodi:type="star" sodipodi:sides="5"
                        sodipodi:r1="6.1463628" sodipodi:r2="2.810354" sodipodi:arg1="-2.9229237"
                        sodipodi:arg2="-2.2946052" transform="matrix(1.0487 .089951 -.085930 1.0977 -86.263 -76.411)"
                        inkscape:randomized="0" sodipodi:cy="148" sodipodi:cx="106.33333" inkscape:rounded="0"
                        inkscape:flatsided="false"
                        d="m100.33 146.67l4.14-0.78 1.28-4.01 2.01 3.7 4.21-0.03-2.89 3.06 1.32 4-3.8-1.81-3.39 2.49 0.55-4.17-3.43-2.45z" />
                      <path id="path8827" style="fill-rule:evenodd;fill:#ffffff" sodipodi:type="star" sodipodi:sides="5"
                        sodipodi:r1="6.1463628" sodipodi:r2="2.810354" sodipodi:arg1="-2.9229237"
                        sodipodi:arg2="-2.2946052" transform="matrix(1.0487 .089951 -.085930 1.0977 -61.263 -76.411)"
                        inkscape:randomized="0" sodipodi:cy="148" sodipodi:cx="106.33333" inkscape:rounded="0"
                        inkscape:flatsided="false"
                        d="m100.33 146.67l4.14-0.78 1.28-4.01 2.01 3.7 4.21-0.03-2.89 3.06 1.32 4-3.8-1.81-3.39 2.49 0.55-4.17-3.43-2.45z" />
                      <path id="path8829" style="fill-rule:evenodd;fill:#ffffff" sodipodi:type="star" sodipodi:sides="5"
                        sodipodi:r1="6.1463628" sodipodi:r2="2.810354" sodipodi:arg1="-2.9229237"
                        sodipodi:arg2="-2.2946052" transform="matrix(1.0487 .089951 -.085930 1.0977 -35.263 -76.411)"
                        inkscape:randomized="0" sodipodi:cy="148" sodipodi:cx="106.33333" inkscape:rounded="0"
                        inkscape:flatsided="false"
                        d="m100.33 146.67l4.14-0.78 1.28-4.01 2.01 3.7 4.21-0.03-2.89 3.06 1.32 4-3.8-1.81-3.39 2.49 0.55-4.17-3.43-2.45z" />
                      <path id="path8831" style="fill-rule:evenodd;fill:#ffffff" sodipodi:type="star" sodipodi:sides="5"
                        sodipodi:r1="6.1463628" sodipodi:r2="2.810354" sodipodi:arg1="-2.9229237"
                        sodipodi:arg2="-2.2946052" transform="matrix(1.0487 .089951 -.085930 1.0977 -10.263 -76.411)"
                        inkscape:randomized="0" sodipodi:cy="148" sodipodi:cx="106.33333" inkscape:rounded="0"
                        inkscape:flatsided="false"
                        d="m100.33 146.67l4.14-0.78 1.28-4.01 2.01 3.7 4.21-0.03-2.89 3.06 1.32 4-3.8-1.81-3.39 2.49 0.55-4.17-3.43-2.45z" />
                      <path id="path8833" style="fill-rule:evenodd;fill:#ffffff" sodipodi:type="star" sodipodi:sides="5"
                        sodipodi:r1="6.1463628" sodipodi:r2="2.810354" sodipodi:arg1="-2.9229237"
                        sodipodi:arg2="-2.2946052" transform="matrix(1.0487 .089951 -.085930 1.0977 14.737 -76.411)"
                        inkscape:randomized="0" sodipodi:cy="148" sodipodi:cx="106.33333" inkscape:rounded="0"
                        inkscape:flatsided="false"
                        d="m100.33 146.67l4.14-0.78 1.28-4.01 2.01 3.7 4.21-0.03-2.89 3.06 1.32 4-3.8-1.81-3.39 2.49 0.55-4.17-3.43-2.45z" />
                      <path id="path8835" style="fill-rule:evenodd;fill:#ffffff" sodipodi:type="star" sodipodi:sides="5"
                        sodipodi:r1="6.1463628" sodipodi:r2="2.810354" sodipodi:arg1="-2.9229237"
                        sodipodi:arg2="-2.2946052" transform="matrix(1.0487 .089951 -.085930 1.0977 40.737 -76.411)"
                        inkscape:randomized="0" sodipodi:cy="148" sodipodi:cx="106.33333" inkscape:rounded="0"
                        inkscape:flatsided="false"
                        d="m100.33 146.67l4.14-0.78 1.28-4.01 2.01 3.7 4.21-0.03-2.89 3.06 1.32 4-3.8-1.81-3.39 2.49 0.55-4.17-3.43-2.45z" />
                      <path id="path8837" style="fill-rule:evenodd;fill:#ffffff" sodipodi:type="star" sodipodi:sides="5"
                        sodipodi:r1="6.1463628" sodipodi:r2="2.810354" sodipodi:arg1="-2.9229237"
                        sodipodi:arg2="-2.2946052" transform="matrix(1.0487 .089951 -.085930 1.0977 -73.263 -86.411)"
                        inkscape:randomized="0" sodipodi:cy="148" sodipodi:cx="106.33333" inkscape:rounded="0"
                        inkscape:flatsided="false"
                        d="m100.33 146.67l4.14-0.78 1.28-4.01 2.01 3.7 4.21-0.03-2.89 3.06 1.32 4-3.8-1.81-3.39 2.49 0.55-4.17-3.43-2.45z" />
                      <path id="path8839" style="fill-rule:evenodd;fill:#ffffff" sodipodi:type="star" sodipodi:sides="5"
                        sodipodi:r1="6.1463628" sodipodi:r2="2.810354" sodipodi:arg1="-2.9229237"
                        sodipodi:arg2="-2.2946052" transform="matrix(1.0487 .089951 -.085930 1.0977 -86.263 -97.411)"
                        inkscape:randomized="0" sodipodi:cy="148" sodipodi:cx="106.33333" inkscape:rounded="0"
                        inkscape:flatsided="false"
                        d="m100.33 146.67l4.14-0.78 1.28-4.01 2.01 3.7 4.21-0.03-2.89 3.06 1.32 4-3.8-1.81-3.39 2.49 0.55-4.17-3.43-2.45z" />
                      <path id="path8841" style="fill-rule:evenodd;fill:#ffffff" sodipodi:type="star" sodipodi:sides="5"
                        sodipodi:r1="6.1463628" sodipodi:r2="2.810354" sodipodi:arg1="-2.9229237"
                        sodipodi:arg2="-2.2946052" transform="matrix(1.0487 .089951 -.085930 1.0977 -73.263 -107.41)"
                        inkscape:randomized="0" sodipodi:cy="148" sodipodi:cx="106.33333" inkscape:rounded="0"
                        inkscape:flatsided="false"
                        d="m100.33 146.67l4.14-0.78 1.28-4.01 2.01 3.7 4.21-0.03-2.89 3.06 1.32 4-3.8-1.81-3.39 2.49 0.55-4.17-3.43-2.45z" />
                      <path id="path8843" style="fill-rule:evenodd;fill:#ffffff" sodipodi:type="star" sodipodi:sides="5"
                        sodipodi:r1="6.1463628" sodipodi:r2="2.810354" sodipodi:arg1="-2.9229237"
                        sodipodi:arg2="-2.2946052" transform="matrix(1.0487 .089951 -.085930 1.0977 -86.263 -118.41)"
                        inkscape:randomized="0" sodipodi:cy="148" sodipodi:cx="106.33333" inkscape:rounded="0"
                        inkscape:flatsided="false"
                        d="m100.33 146.67l4.14-0.78 1.28-4.01 2.01 3.7 4.21-0.03-2.89 3.06 1.32 4-3.8-1.81-3.39 2.49 0.55-4.17-3.43-2.45z" />
                      <path id="path8845" style="fill-rule:evenodd;fill:#ffffff" sodipodi:type="star" sodipodi:sides="5"
                        sodipodi:r1="6.1463628" sodipodi:r2="2.810354" sodipodi:arg1="-2.9229237"
                        sodipodi:arg2="-2.2946052" transform="matrix(1.0487 .089951 -.085930 1.0977 -73.263 -128.41)"
                        inkscape:randomized="0" sodipodi:cy="148" sodipodi:cx="106.33333" inkscape:rounded="0"
                        inkscape:flatsided="false"
                        d="m100.33 146.67l4.14-0.78 1.28-4.01 2.01 3.7 4.21-0.03-2.89 3.06 1.32 4-3.8-1.81-3.39 2.49 0.55-4.17-3.43-2.45z" />
                      <path id="path8847" style="fill-rule:evenodd;fill:#ffffff" sodipodi:type="star" sodipodi:sides="5"
                        sodipodi:r1="6.1463628" sodipodi:r2="2.810354" sodipodi:arg1="-2.9229237"
                        sodipodi:arg2="-2.2946052" transform="matrix(1.0487 .089951 -.085930 1.0977 -86.263 -139.41)"
                        inkscape:randomized="0" sodipodi:cy="148" sodipodi:cx="106.33333" inkscape:rounded="0"
                        inkscape:flatsided="false"
                        d="m100.33 146.67l4.14-0.78 1.28-4.01 2.01 3.7 4.21-0.03-2.89 3.06 1.32 4-3.8-1.81-3.39 2.49 0.55-4.17-3.43-2.45z" />
                      <path id="path8849" style="fill-rule:evenodd;fill:#ffffff" sodipodi:type="star" sodipodi:sides="5"
                        sodipodi:r1="6.1463628" sodipodi:r2="2.810354" sodipodi:arg1="-2.9229237"
                        sodipodi:arg2="-2.2946052" transform="matrix(1.0487 .089951 -.085930 1.0977 -73.263 -149.41)"
                        inkscape:randomized="0" sodipodi:cy="148" sodipodi:cx="106.33333" inkscape:rounded="0"
                        inkscape:flatsided="false"
                        d="m100.33 146.67l4.14-0.78 1.28-4.01 2.01 3.7 4.21-0.03-2.89 3.06 1.32 4-3.8-1.81-3.39 2.49 0.55-4.17-3.43-2.45z" />
                      <path id="path8851" style="fill-rule:evenodd;fill:#ffffff" sodipodi:type="star" sodipodi:sides="5"
                        sodipodi:r1="6.1463628" sodipodi:r2="2.810354" sodipodi:arg1="-2.9229237"
                        sodipodi:arg2="-2.2946052" transform="matrix(1.0487 .089951 -.085930 1.0977 -86.263 -160.41)"
                        inkscape:randomized="0" sodipodi:cy="148" sodipodi:cx="106.33333" inkscape:rounded="0"
                        inkscape:flatsided="false"
                        d="m100.33 146.67l4.14-0.78 1.28-4.01 2.01 3.7 4.21-0.03-2.89 3.06 1.32 4-3.8-1.81-3.39 2.49 0.55-4.17-3.43-2.45z" />
                      <path id="path8853" style="fill-rule:evenodd;fill:#ffffff" sodipodi:type="star" sodipodi:sides="5"
                        sodipodi:r1="6.1463628" sodipodi:r2="2.810354" sodipodi:arg1="-2.9229237"
                        sodipodi:arg2="-2.2946052" transform="matrix(1.0487 .089951 -.085930 1.0977 -48.263 -86.411)"
                        inkscape:randomized="0" sodipodi:cy="148" sodipodi:cx="106.33333" inkscape:rounded="0"
                        inkscape:flatsided="false"
                        d="m100.33 146.67l4.14-0.78 1.28-4.01 2.01 3.7 4.21-0.03-2.89 3.06 1.32 4-3.8-1.81-3.39 2.49 0.55-4.17-3.43-2.45z" />
                      <path id="path8855" style="fill-rule:evenodd;fill:#ffffff" sodipodi:type="star" sodipodi:sides="5"
                        sodipodi:r1="6.1463628" sodipodi:r2="2.810354" sodipodi:arg1="-2.9229237"
                        sodipodi:arg2="-2.2946052" transform="matrix(1.0487 .089951 -.085930 1.0977 -61.263 -97.411)"
                        inkscape:randomized="0" sodipodi:cy="148" sodipodi:cx="106.33333" inkscape:rounded="0"
                        inkscape:flatsided="false"
                        d="m100.33 146.67l4.14-0.78 1.28-4.01 2.01 3.7 4.21-0.03-2.89 3.06 1.32 4-3.8-1.81-3.39 2.49 0.55-4.17-3.43-2.45z" />
                      <path id="path8857" style="fill-rule:evenodd;fill:#ffffff" sodipodi:type="star" sodipodi:sides="5"
                        sodipodi:r1="6.1463628" sodipodi:r2="2.810354" sodipodi:arg1="-2.9229237"
                        sodipodi:arg2="-2.2946052" transform="matrix(1.0487 .089951 -.085930 1.0977 -48.263 -107.41)"
                        inkscape:randomized="0" sodipodi:cy="148" sodipodi:cx="106.33333" inkscape:rounded="0"
                        inkscape:flatsided="false"
                        d="m100.33 146.67l4.14-0.78 1.28-4.01 2.01 3.7 4.21-0.03-2.89 3.06 1.32 4-3.8-1.81-3.39 2.49 0.55-4.17-3.43-2.45z" />
                      <path id="path8859" style="fill-rule:evenodd;fill:#ffffff" sodipodi:type="star" sodipodi:sides="5"
                        sodipodi:r1="6.1463628" sodipodi:r2="2.810354" sodipodi:arg1="-2.9229237"
                        sodipodi:arg2="-2.2946052" transform="matrix(1.0487 .089951 -.085930 1.0977 -61.263 -118.41)"
                        inkscape:randomized="0" sodipodi:cy="148" sodipodi:cx="106.33333" inkscape:rounded="0"
                        inkscape:flatsided="false"
                        d="m100.33 146.67l4.14-0.78 1.28-4.01 2.01 3.7 4.21-0.03-2.89 3.06 1.32 4-3.8-1.81-3.39 2.49 0.55-4.17-3.43-2.45z" />
                      <path id="path8861" style="fill-rule:evenodd;fill:#ffffff" sodipodi:type="star" sodipodi:sides="5"
                        sodipodi:r1="6.1463628" sodipodi:r2="2.810354" sodipodi:arg1="-2.9229237"
                        sodipodi:arg2="-2.2946052" transform="matrix(1.0487 .089951 -.085930 1.0977 -48.263 -128.41)"
                        inkscape:randomized="0" sodipodi:cy="148" sodipodi:cx="106.33333" inkscape:rounded="0"
                        inkscape:flatsided="false"
                        d="m100.33 146.67l4.14-0.78 1.28-4.01 2.01 3.7 4.21-0.03-2.89 3.06 1.32 4-3.8-1.81-3.39 2.49 0.55-4.17-3.43-2.45z" />
                      <path id="path8863" style="fill-rule:evenodd;fill:#ffffff" sodipodi:type="star" sodipodi:sides="5"
                        sodipodi:r1="6.1463628" sodipodi:r2="2.810354" sodipodi:arg1="-2.9229237"
                        sodipodi:arg2="-2.2946052" transform="matrix(1.0487 .089951 -.085930 1.0977 -61.263 -139.41)"
                        inkscape:randomized="0" sodipodi:cy="148" sodipodi:cx="106.33333" inkscape:rounded="0"
                        inkscape:flatsided="false"
                        d="m100.33 146.67l4.14-0.78 1.28-4.01 2.01 3.7 4.21-0.03-2.89 3.06 1.32 4-3.8-1.81-3.39 2.49 0.55-4.17-3.43-2.45z" />
                      <path id="path8865" style="fill-rule:evenodd;fill:#ffffff" sodipodi:type="star" sodipodi:sides="5"
                        sodipodi:r1="6.1463628" sodipodi:r2="2.810354" sodipodi:arg1="-2.9229237"
                        sodipodi:arg2="-2.2946052" transform="matrix(1.0487 .089951 -.085930 1.0977 -48.263 -149.41)"
                        inkscape:randomized="0" sodipodi:cy="148" sodipodi:cx="106.33333" inkscape:rounded="0"
                        inkscape:flatsided="false"
                        d="m100.33 146.67l4.14-0.78 1.28-4.01 2.01 3.7 4.21-0.03-2.89 3.06 1.32 4-3.8-1.81-3.39 2.49 0.55-4.17-3.43-2.45z" />
                      <path id="path8867" style="fill-rule:evenodd;fill:#ffffff" sodipodi:type="star" sodipodi:sides="5"
                        sodipodi:r1="6.1463628" sodipodi:r2="2.810354" sodipodi:arg1="-2.9229237"
                        sodipodi:arg2="-2.2946052" transform="matrix(1.0487 .089951 -.085930 1.0977 -61.263 -160.41)"
                        inkscape:randomized="0" sodipodi:cy="148" sodipodi:cx="106.33333" inkscape:rounded="0"
                        inkscape:flatsided="false"
                        d="m100.33 146.67l4.14-0.78 1.28-4.01 2.01 3.7 4.21-0.03-2.89 3.06 1.32 4-3.8-1.81-3.39 2.49 0.55-4.17-3.43-2.45z" />
                      <path id="path8869" style="fill-rule:evenodd;fill:#ffffff" sodipodi:type="star" sodipodi:sides="5"
                        sodipodi:r1="6.1463628" sodipodi:r2="2.810354" sodipodi:arg1="-2.9229237"
                        sodipodi:arg2="-2.2946052" transform="matrix(1.0487 .089951 -.085930 1.0977 -23.263 -86.411)"
                        inkscape:randomized="0" sodipodi:cy="148" sodipodi:cx="106.33333" inkscape:rounded="0"
                        inkscape:flatsided="false"
                        d="m100.33 146.67l4.14-0.78 1.28-4.01 2.01 3.7 4.21-0.03-2.89 3.06 1.32 4-3.8-1.81-3.39 2.49 0.55-4.17-3.43-2.45z" />
                      <path id="path8871" style="fill-rule:evenodd;fill:#ffffff" sodipodi:type="star" sodipodi:sides="5"
                        sodipodi:r1="6.1463628" sodipodi:r2="2.810354" sodipodi:arg1="-2.9229237"
                        sodipodi:arg2="-2.2946052" transform="matrix(1.0487 .089951 -.085930 1.0977 -35.263 -97.411)"
                        inkscape:randomized="0" sodipodi:cy="148" sodipodi:cx="106.33333" inkscape:rounded="0"
                        inkscape:flatsided="false"
                        d="m100.33 146.67l4.14-0.78 1.28-4.01 2.01 3.7 4.21-0.03-2.89 3.06 1.32 4-3.8-1.81-3.39 2.49 0.55-4.17-3.43-2.45z" />
                      <path id="path8873" style="fill-rule:evenodd;fill:#ffffff" sodipodi:type="star" sodipodi:sides="5"
                        sodipodi:r1="6.1463628" sodipodi:r2="2.810354" sodipodi:arg1="-2.9229237"
                        sodipodi:arg2="-2.2946052" transform="matrix(1.0487 .089951 -.085930 1.0977 14.737 -97.411)"
                        inkscape:randomized="0" sodipodi:cy="148" sodipodi:cx="106.33333" inkscape:rounded="0"
                        inkscape:flatsided="false"
                        d="m100.33 146.67l4.14-0.78 1.28-4.01 2.01 3.7 4.21-0.03-2.89 3.06 1.32 4-3.8-1.81-3.39 2.49 0.55-4.17-3.43-2.45z" />
                      <path id="path8875" style="fill-rule:evenodd;fill:#ffffff" sodipodi:type="star" sodipodi:sides="5"
                        sodipodi:r1="6.1463628" sodipodi:r2="2.810354" sodipodi:arg1="-2.9229237"
                        sodipodi:arg2="-2.2946052" transform="matrix(1.0487 .089951 -.085930 1.0977 -10.263 -97.411)"
                        inkscape:randomized="0" sodipodi:cy="148" sodipodi:cx="106.33333" inkscape:rounded="0"
                        inkscape:flatsided="false"
                        d="m100.33 146.67l4.14-0.78 1.28-4.01 2.01 3.7 4.21-0.03-2.89 3.06 1.32 4-3.8-1.81-3.39 2.49 0.55-4.17-3.43-2.45z" />
                      <path id="path8877" style="fill-rule:evenodd;fill:#ffffff" sodipodi:type="star" sodipodi:sides="5"
                        sodipodi:r1="6.1463628" sodipodi:r2="2.810354" sodipodi:arg1="-2.9229237"
                        sodipodi:arg2="-2.2946052" transform="matrix(1.0487 .089951 -.085930 1.0977 27.737 -86.411)"
                        inkscape:randomized="0" sodipodi:cy="148" sodipodi:cx="106.33333" inkscape:rounded="0"
                        inkscape:flatsided="false"
                        d="m100.33 146.67l4.14-0.78 1.28-4.01 2.01 3.7 4.21-0.03-2.89 3.06 1.32 4-3.8-1.81-3.39 2.49 0.55-4.17-3.43-2.45z" />
                      <path id="path8879" style="fill-rule:evenodd;fill:#ffffff" sodipodi:type="star" sodipodi:sides="5"
                        sodipodi:r1="6.1463628" sodipodi:r2="2.810354" sodipodi:arg1="-2.9229237"
                        sodipodi:arg2="-2.2946052" transform="matrix(1.0487 .089951 -.085930 1.0977 2.7366 -86.411)"
                        inkscape:randomized="0" sodipodi:cy="148" sodipodi:cx="106.33333" inkscape:rounded="0"
                        inkscape:flatsided="false"
                        d="m100.33 146.67l4.14-0.78 1.28-4.01 2.01 3.7 4.21-0.03-2.89 3.06 1.32 4-3.8-1.81-3.39 2.49 0.55-4.17-3.43-2.45z" />
                      <path id="path8881" style="fill-rule:evenodd;fill:#ffffff" sodipodi:type="star" sodipodi:sides="5"
                        sodipodi:r1="6.1463628" sodipodi:r2="2.810354" sodipodi:arg1="-2.9229237"
                        sodipodi:arg2="-2.2946052" transform="matrix(1.0487 .089951 -.085930 1.0977 -35.263 -160.41)"
                        inkscape:randomized="0" sodipodi:cy="148" sodipodi:cx="106.33333" inkscape:rounded="0"
                        inkscape:flatsided="false"
                        d="m100.33 146.67l4.14-0.78 1.28-4.01 2.01 3.7 4.21-0.03-2.89 3.06 1.32 4-3.8-1.81-3.39 2.49 0.55-4.17-3.43-2.45z" />
                      <path id="path8883" style="fill-rule:evenodd;fill:#ffffff" sodipodi:type="star" sodipodi:sides="5"
                        sodipodi:r1="6.1463628" sodipodi:r2="2.810354" sodipodi:arg1="-2.9229237"
                        sodipodi:arg2="-2.2946052" transform="matrix(1.0487 .089951 -.085930 1.0977 -23.263 -149.41)"
                        inkscape:randomized="0" sodipodi:cy="148" sodipodi:cx="106.33333" inkscape:rounded="0"
                        inkscape:flatsided="false"
                        d="m100.33 146.67l4.14-0.78 1.28-4.01 2.01 3.7 4.21-0.03-2.89 3.06 1.32 4-3.8-1.81-3.39 2.49 0.55-4.17-3.43-2.45z" />
                      <path id="path8885" style="fill-rule:evenodd;fill:#ffffff" sodipodi:type="star" sodipodi:sides="5"
                        sodipodi:r1="6.1463628" sodipodi:r2="2.810354" sodipodi:arg1="-2.9229237"
                        sodipodi:arg2="-2.2946052" transform="matrix(1.0487 .089951 -.085930 1.0977 -35.263 -139.41)"
                        inkscape:randomized="0" sodipodi:cy="148" sodipodi:cx="106.33333" inkscape:rounded="0"
                        inkscape:flatsided="false"
                        d="m100.33 146.67l4.14-0.78 1.28-4.01 2.01 3.7 4.21-0.03-2.89 3.06 1.32 4-3.8-1.81-3.39 2.49 0.55-4.17-3.43-2.45z" />
                      <path id="path8887" style="fill-rule:evenodd;fill:#ffffff" sodipodi:type="star" sodipodi:sides="5"
                        sodipodi:r1="6.1463628" sodipodi:r2="2.810354" sodipodi:arg1="-2.9229237"
                        sodipodi:arg2="-2.2946052" transform="matrix(1.0487 .089951 -.085930 1.0977 -23.263 -128.41)"
                        inkscape:randomized="0" sodipodi:cy="148" sodipodi:cx="106.33333" inkscape:rounded="0"
                        inkscape:flatsided="false"
                        d="m100.33 146.67l4.14-0.78 1.28-4.01 2.01 3.7 4.21-0.03-2.89 3.06 1.32 4-3.8-1.81-3.39 2.49 0.55-4.17-3.43-2.45z" />
                      <path id="path8889" style="fill-rule:evenodd;fill:#ffffff" sodipodi:type="star" sodipodi:sides="5"
                        sodipodi:r1="6.1463628" sodipodi:r2="2.810354" sodipodi:arg1="-2.9229237"
                        sodipodi:arg2="-2.2946052" transform="matrix(1.0487 .089951 -.085930 1.0977 -35.263 -118.41)"
                        inkscape:randomized="0" sodipodi:cy="148" sodipodi:cx="106.33333" inkscape:rounded="0"
                        inkscape:flatsided="false"
                        d="m100.33 146.67l4.14-0.78 1.28-4.01 2.01 3.7 4.21-0.03-2.89 3.06 1.32 4-3.8-1.81-3.39 2.49 0.55-4.17-3.43-2.45z" />
                      <path id="path8891" style="fill-rule:evenodd;fill:#ffffff" sodipodi:type="star" sodipodi:sides="5"
                        sodipodi:r1="6.1463628" sodipodi:r2="2.810354" sodipodi:arg1="-2.9229237"
                        sodipodi:arg2="-2.2946052" transform="matrix(1.0487 .089951 -.085930 1.0977 -23.263 -107.41)"
                        inkscape:randomized="0" sodipodi:cy="148" sodipodi:cx="106.33333" inkscape:rounded="0"
                        inkscape:flatsided="false"
                        d="m100.33 146.67l4.14-0.78 1.28-4.01 2.01 3.7 4.21-0.03-2.89 3.06 1.32 4-3.8-1.81-3.39 2.49 0.55-4.17-3.43-2.45z" />
                      <path id="path8893" style="fill-rule:evenodd;fill:#ffffff" sodipodi:type="star" sodipodi:sides="5"
                        sodipodi:r1="6.1463628" sodipodi:r2="2.810354" sodipodi:arg1="-2.9229237"
                        sodipodi:arg2="-2.2946052" transform="matrix(1.0487 .089951 -.085930 1.0977 40.737 -97.411)"
                        inkscape:randomized="0" sodipodi:cy="148" sodipodi:cx="106.33333" inkscape:rounded="0"
                        inkscape:flatsided="false"
                        d="m100.33 146.67l4.14-0.78 1.28-4.01 2.01 3.7 4.21-0.03-2.89 3.06 1.32 4-3.8-1.81-3.39 2.49 0.55-4.17-3.43-2.45z" />
                      <path id="path8895" style="fill-rule:evenodd;fill:#ffffff" sodipodi:type="star" sodipodi:sides="5"
                        sodipodi:r1="6.1463628" sodipodi:r2="2.810354" sodipodi:arg1="-2.9229237"
                        sodipodi:arg2="-2.2946052" transform="matrix(1.0487 .089951 -.085930 1.0977 -10.263 -118.41)"
                        inkscape:randomized="0" sodipodi:cy="148" sodipodi:cx="106.33333" inkscape:rounded="0"
                        inkscape:flatsided="false"
                        d="m100.33 146.67l4.14-0.78 1.28-4.01 2.01 3.7 4.21-0.03-2.89 3.06 1.32 4-3.8-1.81-3.39 2.49 0.55-4.17-3.43-2.45z" />
                      <path id="path8897" style="fill-rule:evenodd;fill:#ffffff" sodipodi:type="star" sodipodi:sides="5"
                        sodipodi:r1="6.1463628" sodipodi:r2="2.810354" sodipodi:arg1="-2.9229237"
                        sodipodi:arg2="-2.2946052" transform="matrix(1.0487 .089951 -.085930 1.0977 -10.263 -160.41)"
                        inkscape:randomized="0" sodipodi:cy="148" sodipodi:cx="106.33333" inkscape:rounded="0"
                        inkscape:flatsided="false"
                        d="m100.33 146.67l4.14-0.78 1.28-4.01 2.01 3.7 4.21-0.03-2.89 3.06 1.32 4-3.8-1.81-3.39 2.49 0.55-4.17-3.43-2.45z" />
                      <path id="path8899" style="fill-rule:evenodd;fill:#ffffff" sodipodi:type="star" sodipodi:sides="5"
                        sodipodi:r1="6.1463628" sodipodi:r2="2.810354" sodipodi:arg1="-2.9229237"
                        sodipodi:arg2="-2.2946052" transform="matrix(1.0487 .089951 -.085930 1.0977 -10.263 -139.41)"
                        inkscape:randomized="0" sodipodi:cy="148" sodipodi:cx="106.33333" inkscape:rounded="0"
                        inkscape:flatsided="false"
                        d="m100.33 146.67l4.14-0.78 1.28-4.01 2.01 3.7 4.21-0.03-2.89 3.06 1.32 4-3.8-1.81-3.39 2.49 0.55-4.17-3.43-2.45z" />
                      <path id="path8901" style="fill-rule:evenodd;fill:#ffffff" sodipodi:type="star" sodipodi:sides="5"
                        sodipodi:r1="6.1463628" sodipodi:r2="2.810354" sodipodi:arg1="-2.9229237"
                        sodipodi:arg2="-2.2946052" transform="matrix(1.0487 .089951 -.085930 1.0977 27.737 -107.41)"
                        inkscape:randomized="0" sodipodi:cy="148" sodipodi:cx="106.33333" inkscape:rounded="0"
                        inkscape:flatsided="false"
                        d="m100.33 146.67l4.14-0.78 1.28-4.01 2.01 3.7 4.21-0.03-2.89 3.06 1.32 4-3.8-1.81-3.39 2.49 0.55-4.17-3.43-2.45z" />
                      <path id="path8903" style="fill-rule:evenodd;fill:#ffffff" sodipodi:type="star" sodipodi:sides="5"
                        sodipodi:r1="6.1463628" sodipodi:r2="2.810354" sodipodi:arg1="-2.9229237"
                        sodipodi:arg2="-2.2946052" transform="matrix(1.0487 .089951 -.085930 1.0977 2.7366 -107.41)"
                        inkscape:randomized="0" sodipodi:cy="148" sodipodi:cx="106.33333" inkscape:rounded="0"
                        inkscape:flatsided="false"
                        d="m100.33 146.67l4.14-0.78 1.28-4.01 2.01 3.7 4.21-0.03-2.89 3.06 1.32 4-3.8-1.81-3.39 2.49 0.55-4.17-3.43-2.45z" />
                      <path id="path8905" style="fill-rule:evenodd;fill:#ffffff" sodipodi:type="star" sodipodi:sides="5"
                        sodipodi:r1="6.1463628" sodipodi:r2="2.810354" sodipodi:arg1="-2.9229237"
                        sodipodi:arg2="-2.2946052" transform="matrix(1.0487 .089951 -.085930 1.0977 2.7366 -149.41)"
                        inkscape:randomized="0" sodipodi:cy="148" sodipodi:cx="106.33333" inkscape:rounded="0"
                        inkscape:flatsided="false"
                        d="m100.33 146.67l4.14-0.78 1.28-4.01 2.01 3.7 4.21-0.03-2.89 3.06 1.32 4-3.8-1.81-3.39 2.49 0.55-4.17-3.43-2.45z" />
                      <path id="path8907" style="fill-rule:evenodd;fill:#ffffff" sodipodi:type="star" sodipodi:sides="5"
                        sodipodi:r1="6.1463628" sodipodi:r2="2.810354" sodipodi:arg1="-2.9229237"
                        sodipodi:arg2="-2.2946052" transform="matrix(1.0487 .089951 -.085930 1.0977 2.7366 -128.41)"
                        inkscape:randomized="0" sodipodi:cy="148" sodipodi:cx="106.33333" inkscape:rounded="0"
                        inkscape:flatsided="false"
                        d="m100.33 146.67l4.14-0.78 1.28-4.01 2.01 3.7 4.21-0.03-2.89 3.06 1.32 4-3.8-1.81-3.39 2.49 0.55-4.17-3.43-2.45z" />
                      <path id="path8909" style="fill-rule:evenodd;fill:#ffffff" sodipodi:type="star" sodipodi:sides="5"
                        sodipodi:r1="6.1463628" sodipodi:r2="2.810354" sodipodi:arg1="-2.9229237"
                        sodipodi:arg2="-2.2946052" transform="matrix(1.0487 .089951 -.085930 1.0977 40.737 -118.41)"
                        inkscape:randomized="0" sodipodi:cy="148" sodipodi:cx="106.33333" inkscape:rounded="0"
                        inkscape:flatsided="false"
                        d="m100.33 146.67l4.14-0.78 1.28-4.01 2.01 3.7 4.21-0.03-2.89 3.06 1.32 4-3.8-1.81-3.39 2.49 0.55-4.17-3.43-2.45z" />
                      <path id="path8911" style="fill-rule:evenodd;fill:#ffffff" sodipodi:type="star" sodipodi:sides="5"
                        sodipodi:r1="6.1463628" sodipodi:r2="2.810354" sodipodi:arg1="-2.9229237"
                        sodipodi:arg2="-2.2946052" transform="matrix(1.0487 .089951 -.085930 1.0977 14.737 -118.41)"
                        inkscape:randomized="0" sodipodi:cy="148" sodipodi:cx="106.33333" inkscape:rounded="0"
                        inkscape:flatsided="false"
                        d="m100.33 146.67l4.14-0.78 1.28-4.01 2.01 3.7 4.21-0.03-2.89 3.06 1.32 4-3.8-1.81-3.39 2.49 0.55-4.17-3.43-2.45z" />
                      <path id="path8913" style="fill-rule:evenodd;fill:#ffffff" sodipodi:type="star" sodipodi:sides="5"
                        sodipodi:r1="6.1463628" sodipodi:r2="2.810354" sodipodi:arg1="-2.9229237"
                        sodipodi:arg2="-2.2946052" transform="matrix(1.0487 .089951 -.085930 1.0977 14.737 -160.41)"
                        inkscape:randomized="0" sodipodi:cy="148" sodipodi:cx="106.33333" inkscape:rounded="0"
                        inkscape:flatsided="false"
                        d="m100.33 146.67l4.14-0.78 1.28-4.01 2.01 3.7 4.21-0.03-2.89 3.06 1.32 4-3.8-1.81-3.39 2.49 0.55-4.17-3.43-2.45z" />
                      <path id="path8915" style="fill-rule:evenodd;fill:#ffffff" sodipodi:type="star" sodipodi:sides="5"
                        sodipodi:r1="6.1463628" sodipodi:r2="2.810354" sodipodi:arg1="-2.9229237"
                        sodipodi:arg2="-2.2946052" transform="matrix(1.0487 .089951 -.085930 1.0977 14.737 -139.41)"
                        inkscape:randomized="0" sodipodi:cy="148" sodipodi:cx="106.33333" inkscape:rounded="0"
                        inkscape:flatsided="false"
                        d="m100.33 146.67l4.14-0.78 1.28-4.01 2.01 3.7 4.21-0.03-2.89 3.06 1.32 4-3.8-1.81-3.39 2.49 0.55-4.17-3.43-2.45z" />
                      <path id="path8917" style="fill-rule:evenodd;fill:#ffffff" sodipodi:type="star" sodipodi:sides="5"
                        sodipodi:r1="6.1463628" sodipodi:r2="2.810354" sodipodi:arg1="-2.9229237"
                        sodipodi:arg2="-2.2946052" transform="matrix(1.0487 .089951 -.085930 1.0977 40.737 -160.41)"
                        inkscape:randomized="0" sodipodi:cy="148" sodipodi:cx="106.33333" inkscape:rounded="0"
                        inkscape:flatsided="false"
                        d="m100.33 146.67l4.14-0.78 1.28-4.01 2.01 3.7 4.21-0.03-2.89 3.06 1.32 4-3.8-1.81-3.39 2.49 0.55-4.17-3.43-2.45z" />
                      <path id="path8919" style="fill-rule:evenodd;fill:#ffffff" sodipodi:type="star" sodipodi:sides="5"
                        sodipodi:r1="6.1463628" sodipodi:r2="2.810354" sodipodi:arg1="-2.9229237"
                        sodipodi:arg2="-2.2946052" transform="matrix(1.0487 .089951 -.085930 1.0977 27.737 -149.41)"
                        inkscape:randomized="0" sodipodi:cy="148" sodipodi:cx="106.33333" inkscape:rounded="0"
                        inkscape:flatsided="false"
                        d="m100.33 146.67l4.14-0.78 1.28-4.01 2.01 3.7 4.21-0.03-2.89 3.06 1.32 4-3.8-1.81-3.39 2.49 0.55-4.17-3.43-2.45z" />
                      <path id="path8921" style="fill-rule:evenodd;fill:#ffffff" sodipodi:type="star" sodipodi:sides="5"
                        sodipodi:r1="6.1463628" sodipodi:r2="2.810354" sodipodi:arg1="-2.9229237"
                        sodipodi:arg2="-2.2946052" transform="matrix(1.0487 .089951 -.085930 1.0977 40.737 -139.41)"
                        inkscape:randomized="0" sodipodi:cy="148" sodipodi:cx="106.33333" inkscape:rounded="0"
                        inkscape:flatsided="false"
                        d="m100.33 146.67l4.14-0.78 1.28-4.01 2.01 3.7 4.21-0.03-2.89 3.06 1.32 4-3.8-1.81-3.39 2.49 0.55-4.17-3.43-2.45z" />
                      <path id="path8923" style="fill-rule:evenodd;fill:#ffffff" sodipodi:type="star" sodipodi:sides="5"
                        sodipodi:r1="6.1463628" sodipodi:r2="2.810354" sodipodi:arg1="-2.9229237"
                        sodipodi:arg2="-2.2946052" transform="matrix(1.0487 .089951 -.085930 1.0977 27.737 -128.41)"
                        inkscape:randomized="0" sodipodi:cy="148" sodipodi:cx="106.33333" inkscape:rounded="0"
                        inkscape:flatsided="false"
                        d="m100.33 146.67l4.14-0.78 1.28-4.01 2.01 3.7 4.21-0.03-2.89 3.06 1.32 4-3.8-1.81-3.39 2.49 0.55-4.17-3.43-2.45z" />
                    </g>
                    <metadata>
                      <rdf:RDF>
                        <cc:Work>
                          <dc:format>image/svg+xml</dc:format>
                          <dc:type rdf:resource="http://purl.org/dc/dcmitype/StillImage" />
                          <cc:license rdf:resource="http://creativecommons.org/licenses/publicdomain/" />
                          <dc:publisher>
                            <cc:Agent rdf:about="http://openclipart.org/">
                              <dc:title>Openclipart</dc:title>
                            </cc:Agent>
                          </dc:publisher>
                          <dc:title>US Flag</dc:title>
                          <dc:date>2007-11-09T20:14:54</dc:date>
                          <dc:description>American Flag</dc:description>
                          <dc:source>https://openclipart.org/detail/8120/us-flag-by-jp_draws</dc:source>
                          <dc:creator>
                            <cc:Agent>
                              <dc:title>jp_draws</dc:title>
                            </cc:Agent>
                          </dc:creator>
                          <dc:subject>
                            <rdf:Bag>
                              <rdf:li>american</rdf:li>
                              <rdf:li>flag</rdf:li>
                              <rdf:li>sign</rdf:li>
                              <rdf:li>star</rdf:li>
                              <rdf:li>stripes</rdf:li>
                              <rdf:li>symbol</rdf:li>
                            </rdf:Bag>
                          </dc:subject>
                        </cc:Work>
                        <cc:License rdf:about="http://creativecommons.org/licenses/publicdomain/">
                          <cc:permits rdf:resource="http://creativecommons.org/ns#Reproduction" />
                          <cc:permits rdf:resource="http://creativecommons.org/ns#Distribution" />
                          <cc:permits rdf:resource="http://creativecommons.org/ns#DerivativeWorks" />
                        </cc:License>
                      </rdf:RDF>
                    </metadata>
                  </svg>

                  <p class="font-semibold">{{ i18n "english" }}</p>
                </div>
              </a>



              <a class="flex items-start p-2 bg-transparent rounded-lg group row hover:text-white focus:text-white hover:bg-primary-600 focus:bg-slate-700 focus:outline-none focus:shadow-outline"
                href="/fr" }}>

                <div class="ml-3">
                  <svg xmlns="http://www.w3.org/2000/svg" width="60" height="30">
                    <rect width="60" height="30" fill="#ED2939" />
                    <rect width="40" height="30" fill="#fff" />
                    <rect width="20" height="30" fill="#002395" />
                  </svg>
                  <p class="font-semibold">{{ i18n "french" }}</p>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>

      <div @click.away="open = false" class="relative" x-data="{ open: false }">
        <button @click="open = !open"
          class="flex flex-row items-center w-full px-4 py-2 mt-2 text-sm font-semibold text-white text-left bg-transparent rounded-lg md:w-auto md:inline md:mt-0 md:ml-4 hover:text-white focus:text-white hover:bg-primary-600 focus:bg-primary-600 focus:outline-none focus:shadow-outline transition-colors duration-200">
          <span> {{ .Site.Params.navigation.about }}</span>
          <svg fill="currentColor" viewBox="0 0 20 20" :class="{'rotate-180': open, 'rotate-0': !open}"
            class="inline w-4 h-4 mt-1 ml-1 transition-transform duration-200 transform md:-mt-1">
            <path fill-rule="evenodd"
              d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
              clip-rule="evenodd"></path>
          </svg>
        </button>
        <div x-show="open" x-transition:enter="transition ease-out duration-100"
          x-transition:enter-start="transform opacity-0 scale-95"
          x-transition:enter-end="transform opacity-100 scale-100" x-transition:leave="transition ease-in duration-75"
          x-transition:leave-start="transform opacity-100 scale-100"
          x-transition:leave-end="transform opacity-0 scale-95"
          class="absolute right-0 z-30 w-full mt-2 origin-top-right rounded-md shadow-lg ">
          <div class="px-2 py-2 text-white bg-primary-900 rounded-md shadow">
            <a class="block px-4 py-2 mt-2 text-sm font-semibold bg-transparent rounded-lg md:mt-0 hover:text-white focus:text-white hover:bg-primary-600 focus:bg-primary-600 focus:outline-none focus:shadow-outline"
              href={{ relLangURL "contacts" }}> {{ .Site.Params.navigation.contacts }}</a>
            <a class="block px-4 py-2 mt-2 text-sm font-semibold bg-transparent rounded-lg md:mt-0 hover:text-white focus:text-white hover:bg-primary-600 focus:bg-primary-600 focus:outline-none focus:shadow-outline"
              href={{ relLangURL "team" }}>{{ .Site.Params.navigation.team }}</a>
            <a class="block px-4 py-2 mt-2 text-sm font-semibold bg-transparent rounded-lg md:mt-0 hover:text-white focus:text-white hover:bg-primary-600 focus:bg-slate-700 focus:outline-none focus:shadow-outline"
              href={{ relLangURL "legal" }}>{{ .Site.Params.navigation.legal }}</a>
          </div>
        </div>
      </div>
      <div>
        <ul class="flex">
          {{ range $.Site.Home.AllTranslations }}
          <li><a href="{{ .Permalink }}">{{ .Language.LanguageName }}</a></li>
          {{ end }}
        </ul>
      </div>
      <button id="theme-toggle" type="button"
        class="p-2 text-sm text-white rounded-hanko bg-primary-700 dark:bg-primary-light-600 hover:bg-primary-600 dark:hover:bg-primary-light-500 focus:outline-none focus:ring-2 focus:ring-primary-500 dark:focus:ring-primary-light-400 md:ml-2 w-10 h-10 xs:hidden shadow-hanko flex items-center justify-center">
        <svg id="theme-toggle-dark-icon" class="hidden w-6 h-6" fill="currentColor" viewBox="0 0 20 20"
          xmlns="http://www.w3.org/2000/svg">
          <path d="M17.293 13.293A8 8 0 016.707 2.707a8.001 8.001 0 1010.586 10.586z">
          </path>
        </svg>
        <svg id="theme-toggle-light-icon" class="hidden w-6 h-6" fill="currentColor" viewBox="0 0 20 20"
          aria-label="Dark or Light Mode" xmlns="http://www.w3.org/2000/svg">
          <path
            d="M10 2a1 1 0 011 1v1a1 1 0 11-2 0V3a1 1 0 011-1zm4 8a4 4 0 11-8 0 4 4 0 018 0zm-.464 4.95l.707.707a1 1 0 001.414-1.414l-.707-.707a1 1 0 00-1.414 1.414zm2.12-10.607a1 1 0 010 1.414l-.706.707a1 1 0 11-1.414-1.414l.707-.707a1 1 0 011.414 0zM17 11a1 1 0 100-2h-1a1 1 0 100 2h1zm-7 4a1 1 0 011 1v1a1 1 0 11-2 0v-1a1 1 0 011-1zM5.05 6.464A1 1 0 106.465 5.05l-.708-.707a1 1 0 00-1.414 1.414l.707.707zm1.414 8.486l-.707.707a1 1 0 01-1.414-1.414l.707-.707a1 1 0 011.414 1.414zM4 11a1 1 0 100-2H3a1 1 0 000 2h1z"
            fill-rule="evenodd" clip-rule="evenodd"></path>
        </svg>
      </button>
    </nav>
  </div>
</div>