<!DOCTYPE html>
{{- $lang := "fr" -}}
{{- if or (strings.Contains .Permalink "/en/") (strings.HasSuffix .Permalink "/en") -}}
  {{- $lang = "en" -}}
{{- end -}}
<html lang="{{ $lang }}">
<head>
    <title>{{ .Permalink }}</title>
    <link rel="canonical" href="{{ .Permalink }}"/>
    <meta http-equiv="refresh" content="0;URL='{{ .Permalink }}'"/>
    <meta name="robots" content="noindex">
</head>
<body>
    <p>Redirecting to <a href="{{ .Permalink }}">{{ .Permalink }}</a>...</p>
</body>
</html>
