{{ define "main" }}
<main>

    <!-- Produit Sealfie -->
    <div class="relative my-4">
        <div class="lg:mx-auto lg:grid lg:max-w-7xl lg:grid-cols-2 lg:items-start lg:gap-24 lg:px-8">
            <div class="relative sm:py-8 lg:py-0">
                <div aria-hidden="true" class="hidden sm:block lg:absolute lg:inset-y-0 lg:right-0 lg:w-screen">
                    <div
                        class="absolute inset-y-0 w-full bg-neutral-100 dark:bg-primary-900/10 right-1/2 rounded-r-3xl lg:right-72">
                    </div>
                    <svg class="absolute -ml-3 top-8 left-1/2 lg:-right-8 lg:left-auto lg:top-12" width="404"
                        height="392" fill="none" viewBox="0 0 404 392" loading="lazy">
                        <defs>
                            <pattern id="02f20b47-fd69-4224-a62a-4c9de5c763f7" x="0" y="0" width="20" height="20"
                                patternUnits="userSpaceOnUse">
                                <rect x="0" y="0" width="4" height="4" class="text-primary-200 dark:text-primary-900/60"
                                    fill="currentColor" />
                            </pattern>
                        </defs>
                        <rect width="404" height="392" fill="url(#02f20b47-fd69-4224-a62a-4c9de5c763f7)" />
                    </svg>
                </div>
                <div class="relative max-w-md px-4 py-6 mx-auto sm:max-w-3xl sm:px-6 lg:max-w-none lg:px-0 lg:py-20">

                    <!-- Testimonial card-->
                    <div class="relative pt-64 pb-10 overflow-hidden shadow-xl rounded-2xl">
                        {{ $missionimage := resources.Get "images/pages/sealfie-landscape.png" }}
                        {{ with $missionimage }}
                        {{ with .Resize (printf "%dx%d webp q50" .Width .Height) }}
                        <img src="{{ .RelPermalink }}" width="{{ .Width }}" height="{{ .Height }}"
                            class="absolute inset-0 object-cover w-full h-full" alt="Sealfie - Notre produit"
                            loading="lazy" />
                        {{ end }}>
                        {{ end }}
                    </div>
                </div>

            </div>
            <!-- Content  -->
            <div class="relative max-w-md px-4 mx-auto sm:max-w-3xl sm:px-6 lg:px-0">

                <div class="md:pt-24 sm:pt-12 lg:pt-20">
                    <h1
                        class="mb-2 text-4xl font-extrabold leading-2 tracking-tight text-primary-600 md:text-5xl xl:text-6xl dark:text-white hover:underline hover:text-primary-light-600 ">
                        <a href="https://sealf.ie"
                            class="block py-4 mx-auto space-x-4 sm:inline-flex md:inline-flex sm:text-center">

                            <p> Sealfie </p>
                        </a>

                    </h1>
                    <div class="mt-6 space-y-6 ">

                        <p class="text-lg leading-7"> Sealfie offre une protection quotidienne contre la fraude au
                            président, aux faux fournisseurs et aux usurpation d'identité.
                        </p>
                        <p class="text-lg leading-7 hover:underline hover:text-primary-light-600"  > <a href="https://sealf.ie/fr"> Rendez-vous sur le
                            site  https://sealf.ie/fr/ pour découvrir notre offre en
                            détails.</a>
                        </p>
                        <p class="text-lg leading-7 hover:underline hover:text-primary-light-600 "> <a 
                            href="https://www.lefigaro.fr/economie/inkan-link-optimisez-votre-securite-protegez-votre-identite-20230330">
                            Comprendre l'approche
                            avec l'interview de notre fondateur sur
                            Itinéraire Entreprise du Figaro (10 minutes).</a>
                        </p>


                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- Section : inkan.link introduction -->

    <div class="bg-neutral-50 dark:bg-secondary-900">
        <div class="max-w-fit px-4 py-8 mx-auto">
            <div class="grid items-center gap-8 mb-8 sm:mb-0 lg:gap-12 lg:grid-cols-12">
                <div class="col-span-6 px-4 text-center sm:mb-6 lg:text-left lg:mb-0">
                    <h1
                        class="mb-2 text-4xl font-extrabold leading-none tracking-tight text-primary-light-900 md:text-5xl xl:text-6xl dark:text-white">
                        Inkan.link</h1>
                    <h2 class="pb-2 text-3xl font-light md:text-4xl">
                        Être sûr de son interlocuteur.
                    </h2>


                    <p class="max-w-xl mx-auto mb-6 font-normal lg:mx-0 xl:mb-2 md:text-lg xl:text-xl">
                        Inkan.link une startup DeepTech crée en octobre 2021, par des vétérans de la cybersécurité.
                    </p>


                    <p class="max-w-xl mx-auto mb-6 font-normal lg:mx-0 xl:mb-2 md:text-lg xl:text-xl">
                        Vous trouverez en scrollant nos actualités, des explications sur les fraudes que nous prévenons.
                        Notre Blog détaile les points de vigilances et comment notre solution y réponds.
                    </p>


                    <!-- Illustration  -->
                    <p
                        class="max-w-screen-xl mx-auto mb-6 font-normal text-primary-900 lg:mx-0 xl:mb-2 md:text-lg xl:text-xl dark:text-primary-50">
                    </p>
                </div>
                <div class="col-span-6">
                    <div class="relative max-w-md px-4 py-6 mx-auto sm:max-w-xl sm:px-6 lg:max-w-none lg:px-0 lg:py-20">
                        <!-- Testimonial card-->
                        <!-- <img src = "static/images/inkan-animated-prez.svg" alt="Inkan.link presentation"/> -->

                        <object data="/images/inkan-animated-prez.svg" type="image/svg+xml">
                            Inkan illustration animée
                        </object>
                    </div>
                </div>
            </div>
        </div>
    </div>

        
    <!-- Section news -->


    <div class="relative px-1 pt-8 pb-4 bg-transparent lg:px-8 lg:pt-12 lg:mb-4 md:mt-12">
        <div class="absolute inset-0">
            <div class="bg-secondary-900 dark:bg-secondary-900/50 h-2/3 sm:h-2/3"></div>
        </div>
        <div class="relative px-2 mx-auto max-w-7xl">
            <div class="text-center">
                <h2 class="text-3xl font-black tracking-tight text-white capitalize dark:text-white sm:text-4xl">
                    Actualités
                </h2>
                <!-- <p class="max-w-2xl mx-auto mt-3 text-xl text-white sm:mt-4"> Les articles les plus récents de notre blog.</p> -->
            </div>

            <div class="mx-auto text-neutral-900 max-w-7xl dark:text-primary-50 md:px-1.5">
                <div class="px-4 text-neutral-900 dark:text-white not-prose">
                    <div class="grid gap-4 mx-auto mt-12 mb-4 lg:max-w-none md:grid-cols-3">

                        {{ range first 3 (where (where ( .Paginator.Pages ) ".Params.categories" "like" "(N|n)ews")
                        ".Language.Lang" "fr" )}}
                        <div
                            class="flex flex-col overflow-hidden rounded-lg shadow-lg bg-neutral-100 dark:bg-secondary-900">
                            <a href="{{.Permalink}}">
                                {{ with .Params.featured_image }}
                                {{ with resources.Get . }}
                                {{ $postimage := (.Resize "500x webp q90").RelPermalink }}
                                <img src="{{ $postimage }}" class="object-fill overflow-hidden rounded-t-lg"
                                    width="100%" height="" loading="lazy" alt="{{ .Title }}" />
                                {{ end }}
                                {{ end }}
                            </a>
                            <div class="p-6">
                                <div class="flex-auto">
                                    <a href="{{.Permalink}}"
                                        class="block mt-2 text-2xl font-black text-primary-900 hover:text-neutral-600 dark:hover:text-neutral-500 hover:underline">
                                        {{.Title}}
                                    </a>
                                    <p class="mt-3 text-base ">
                                        {{ .Params.summary }}
                                    </p>
                                    <a href="{{.Permalink}}"
                                        class="block mt-2 text-base  dark:text-neutral-400 hover:text-primary-500 dark:hover:text-white hover:underline">
                                        En savoir plus...
                                    </a>
                                </div>
                            </div>
                        </div>
                        {{ end }}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Our vision section -->
    <div class="relative my-4">
        <div class="lg:mx-auto lg:grid lg:max-w-7xl lg:grid-cols-2 lg:items-start lg:gap-24 lg:px-8">
            <div class="relative sm:py-8 lg:py-0">
                <div aria-hidden="true" class="hidden sm:block lg:absolute lg:inset-y-0 lg:right-0 lg:w-screen">
                    <div
                        class="absolute inset-y-0 w-full bg-secondary-900 dark:bg-primary-900/10 right-1/2 rounded-r-3xl lg:right-72">
                    </div>
                    <svg class="absolute -ml-3 top-8 left-1/2 lg:-right-8 lg:left-auto lg:top-12" width="404"
                        height="392" fill="none" viewBox="0 0 404 392" loading="lazy">
                        <defs>
                            <pattern id="02f20b47-fd69-4224-a62a-4c9de5c763f7" x="0" y="0" width="20" height="20"
                                patternUnits="userSpaceOnUse">
                                <rect x="0" y="0" width="4" height="4" class="text-primary-200 dark:text-primary-900/60"
                                    fill="currentColor" />
                            </pattern>
                        </defs>
                        <rect width="404" height="392" fill="url(#02f20b47-fd69-4224-a62a-4c9de5c763f7)" />
                    </svg>
                </div>
                <div class="relative max-w-md px-4 py-6 mx-auto sm:max-w-3xl sm:px-6 lg:max-w-none lg:px-0 lg:py-20">
                    <!-- Testimonial card-->
                    <div class="relative pt-64 pb-10 overflow-hidden shadow-xl rounded-2xl">
                        {{ $missionimage := resources.Get "images/pages/vision.jpeg" }}
                        {{ with $missionimage }}
                        {{ with .Resize (printf "%dx%d webp q50" .Width .Height) }}
                        <img imgh src="{{ .RelPermalink }}" width="{{ .Width }}" height="{{ .Height }}"
                            class="absolute inset-0 object-cover w-full h-full" alt="TailBliss - Our Mission"
                            loading="lazy" />
                        {{ end }}>
                        {{ end }}
                        <div class="absolute inset-0 bg-slate-300 mix-blend-multiply"></div>
                        <div class="relative px-8">
                            <div>
                                <img class="h-12" src="/favicon/favicon.svg" alt="Inkan.link logo">
                            </div>
                            <blockquote class="mt-8">
                                <div class="relative text-lg font-medium text-white bg-primary-500/30 md:flex-grow">
                                    <svg class="absolute top-0 left-0 w-8 h-8 transform -translate-x-3 -translate-y-2 text-slate-400/30"
                                        fill="currentColor" viewBox="0 0 32 32" aria-hidden="true">
                                        <path
                                            d="M9.352 4C4.456 7.456 1 13.12 1 19.36c0 5.088 3.072 8.064 6.624 8.064 3.36 0 5.856-2.688 5.856-5.856 0-3.168-2.208-5.472-5.088-5.472-.576 0-1.344.096-1.536.192.48-3.264 3.552-7.104 6.624-9.024L9.352 4zm16.512 0c-4.8 3.456-8.256 9.12-8.256 15.36 0 5.088 3.072 8.064 6.624 8.064 3.264 0 5.856-2.688 5.856-5.856 0-3.168-2.304-5.472-5.184-5.472-.576 0-1.248.096-1.44.192.48-3.264 3.456-7.104 6.528-9.024L25.864 4z" />
                                    </svg>
                                    <p class="relative">Nous construisons un écosystème des solutions numériques où la
                                        sécurité est ouvertement partagée avec l'utilisateur, intégrée et dans un cercle
                                        vertueux.

                                    </p>
                                </div>

                                <footer class="mt-4">
                                    <p class="text-base font-semibold text-white bg-primary-500/30">
                                        Nicolas Thomas, fondateur d'Inkan.link
                                    </p>
                                </footer>
                            </blockquote>
                        </div>
                    </div>
                </div>
            </div>

            <div class="relative max-w-md px-4 mx-auto sm:max-w-3xl sm:px-6 lg:px-0">
                <!-- Content area -->
                <div class="md:pt-12 sm:pt-6 lg:pt-20">
                    <h2
                        class="text-3xl font-bold tracking-tight text-primary-900 capitalize dark:text-primary-light-500 sm:text-4xl">
                        Notre vision</h2>
                    <div class="mt-6 space-y-6 text-neutral-900 dark:text-white">
                        <p class="text-lg leading-7">
                            Notre vision est celle d'un ensemble de services et d'acteurs du numérique qui fournissent à
                            leurs clients des gages vérifiables de sécurité.

                        </p>
                        <p class="text-lg leading-7">Les utilisateurs possèdent des certificats émient par leurs
                            interlocuteurs, entreprises ou particuliers, qu’ils peuvent utiliser à leur guise pour
                            prouver leurs dires : présence, achat, domicile, certification etc..

                        </p>
                        <p class="text-lg leading-7">
                            Notre différenciation est que nous relions ces attestations pour créer un moyen vérifiable,
                            de multiples sources de vérifier les déclarations des utilisateurs.

                        </p>
                        <p class="text-lg leading-7">Notre partenariat DeepTech avec le L3i vise à permettre aux
                            entreprises de gérer pleinement l'émission de certificats sur blockchain ouvertes à
                            destination de leurs clients.

                        </p>
                        <p class="text-lg leading-7">Le résultat est des services numériques basés sur la confiance dès
                            le départ et très complexes à attaquer de par la multiplication des sources d'information.

                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Title before infinite blog section -->
    <div class="row relative my-4 bg-secondary-500">
        <p></p>
    </div>
    <!-- Testimonial/stats section -->

    <!-- Inifinte Blog : kept simple on desktop to accomodate mobile better -->


    {{ range first 12 (where (where ( .Paginator.Pages ) ".Params.categories" "like" "(B|b)log") ".Language.Lang" "fr"
    )}}


    <div class="row relative my-4">
        <div class=" lg:mx-auto lg:grid lg:max-w-l lg:grid-cols-2 lg:items-start  ">

            <!-- Content area -->
            <div class="relative  px-12 mx-4 sm:max-w-4xl sm:px-6 lg:px-0">


                <div class="flex-col px-4">
                    <a href="{{.Permalink}}"
                        class="block mt-2 text-2xl  text-primary-900 hover:text-primary-light-600 dark:hover:text-white  hover:underline">
                        {{ if isset .Params "fronttitle" }} {{ .Param "fronttitle"}} {{else}} {{ .Title }} {{end}}
                    </a>
                    <p class="mt-3 text-lg leading-7 text-neutral-900 dark:text-white">
                        {{ .Params.summary }}
                    </p>
                    <a href="{{.Permalink}}"
                        class="block mt-2 text-base underline dark:text-neutral-400 hover:text-primary-500 dark:hover:text-white hover:underline">
                        En savoir plus...
                    </a>
                </div>


            </div>


            <div class=" sm:py-8 lg:py-0">
                <div aria-hidden="true" class="hidden sm:block lg:relative lg:inset-y-0 lg:right-0 lg:w-screen">
                    <div
                        class="absolute inset-y-0  left-1/2 rounded-l-3xl bg-neutral-50 dark:bg-secondary-900/10 lg:left-20 lg:right-0 lg:w-fit">
                    </div>
                    <svg class="absolute -mr-1 top-1 right-2/3 lg:left-1 lg:m-12" width="404" height="292" fill="none"
                        viewBox="0 0 404 292" loading="lazy">
                        <defs>
                            <pattern id="837c3e70-6c3a-44e6-8854-cc48c737b659" x="0" y="0" width="20" height="20"
                                patternUnits="userSpaceOnUse">
                                <rect x="0" y="0" width="4" height="4"
                                    class="text-secondary-900 dark:text-secondary-900/60" fill="currentcolor">
                                </rect>
                            </pattern>
                        </defs>
                        <rect width="404" height="392" fill="url(#837c3e70-6c3a-44e6-8854-cc48c737b659)"></rect>
                    </svg>
                </div>
                <div class="relative max-w-md px-4 py-6 mx-auto sm:max-w-3xl sm:px-6 lg:max-w-3xl lg:px-2 lg:py-6"
                    href="{{ .Permalink }}">
                    <div class="relative pl-4 mr-0 sm:mx-auto sm:max-w-3xl sm:px-0 lg:h-full lg:max-w-none lg:pl-12">
                        {{ with .Params.featured_image }}
                        {{ with resources.Get . }}
                        {{ $postimage := (.Resize "400x webp q90").RelPermalink }}
                        <img src="{{ $postimage }}" alt="Illustration: {{ .Title }}"
                            class="w-fit rounded-lg shadow-xl lg:h-full lg:max-w-fit" loading="lazy" />
                        {{ end }}
                        {{ end }}



                    </div>
                </div>



            </div>
        </div>



        {{ end }} <!-- end of range -->





</main>
{{ end }}